@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes flash-black {
  0% {
    transform: translateX(-110%) skewX(-20deg);
  }
  100% {
    transform: translateX(110%) skewX(-20deg);
  }
}

@theme {
  --color-orange-default: var(--color-orange-400);
  --color-orange-dark: var(--color-orange-600);
  --color-orange-light: var(--color-orange-200);
  --color-gray-bg:var(--color-gray-100);
  --color-gray-text: var(--color-gray-800);
  --animate-flash: flash-black 1s cubic-bezier(0.4, 0, 0.2, 1);
}